:root {
  --background: #f3f3f3;
  --primary-color: #3c00e0;
  --secondary-color: #0f6a39;
  --header-bg-color: #090808;
  --txt-color-on-dark: #e3e3e3;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 5rem 1fr;
  background-color: var(--background);
}
header {
  grid-column: 1/3;
  background-color: var(--header-bg-color);
  color: var(--txt-color-on-dark);
  text-align: center;
}
nav {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  color: var(--txt-color-on-dark);
  font-weight: bolder;
  text-decoration: underline;
}
main {
  grid-column: 2/3;
  padding: 2rem;
  overflow-y: scroll;
}
